{{#accordion-group titleBinding=project.displayName}}
    <br />
    <h6 class="grey-dotted-border-bottom">Responsibilities</h6>
    <ul class="list">
        {{#each project.responsibilities}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <br />
    <h6 class="grey-dotted-border-bottom">Languages/Tools used</h6>
    <p>{{languages}}</p>
{{/accordion-group}}