<div class="clearfix">
    <div class="float-left col-2">
        <h1>Projects</h1>
        <ul class="project-list plain-list">
            {{#each view.projects}}
            <li {{bind-attr project-id=id}} {{action 'selectProject' this target='view'}}>{{name}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="float-left col-8">
        <div class="project">
            {{show-project projectBinding='view.selectedProject'}}
        </div>
    </div>
</div>