<div id="container">
	<div class="my-logo clearfix">
		<div class="d">DEEWENDRA</div>
		<div class="g">G.</div>
		<div class="s">SHRESTHA</div>
	</div>
	{{view templateName="navigation-menu"}}
	{{outlet}}
</div>