{{timeline-overview experiencesBinding="model"}}
<br />
<h1 class="grey-dotted-border-bottom">SUMMARY OF QUALIFICATIONS</h1>
<ul class="list">
    <li>Top performing technology developer with advanced academic and more than 6 years of hands-on professional experience developing, enhancing, and maintaining leading edge applications for clients in diverse global industries</li>
    <li>Proficient in OOP, PHP, PDO, Oracle(9i,10g,11g), MySql, MsSql, Postgres, PlSql, Java, Groovy, Grails, JSF, JSP, C, C++, C#, JavaScript, jquery, Emberjs, Ember data, Json, Ajax, DOM, DHTML, XML, CSS, git</li>
    <li>Experience in building large scale enterprise solutions for state and financial institutions</li>
    <li>A team player with an eye for optimizing and building tools to enhance and speed up the development cycle</li>
</ul>
<br />
<h1 class="grey-dotted-border-bottom">PROFESSIONAL EXPERIENCE</h1>
{{#each companies}}
{{show-company-experience companyBinding="this" allExperiencesBinding="controller.model"}}
{{/each}}
<br />
<h1 class="grey-dotted-border-bottom">EDUCATION</h1>
<ul class="list">
    <li>Master of Science in Computer Science - Maharishi University of Management - Iowa, Fairfield 52557 </li>
    <li>Bachelors of Engineering in Information Technology - Pokhara University - Pokhara, Nepal </li>
</ul>
<br />
<h1 class="grey-dotted-border-bottom">REFERENCES</h1>
<div class="clearfix margin-bottom-md">
    <div class="float-left space-right-xsm">1.</div>
    <div class="float-left">
        <p>Ken Ortiz</p>
        <p>Software Development Manager</p>
        <p>National Oceanic And Atmospheric Administration (NOAA)</p>
        <p>Work: (978) 281-8796</p>
        <p>Home: (978) 335-6768</p>
        <p>Email: <a href="mailto:Ken.Ortiz@noaa.gov" class="plain">Ken.Ortiz@noaa.gov</a></p>
    </div>
</div>
<div class="clearfix margin-bottom-md">
    <div class="float-left space-right-xsm">2.</div>
    <div class="float-left">
        <p>Ayhan Ergul</p>
        <p>VP of Software Engineering</p>
        <p>Innovate! Inc.</p>
        <p>Work: (703) 879-4800</p>
        <p>Home: (781) 985-6920</p>
        <p>Email: <a href="mailto:aergul@innovateteam.com" class="plain">aergul@innovateteam.com</a></p>
    </div>
</div>
<div class="clearfix margin-bottom-md">
    <div class="float-left space-right-xsm">3.</div>
    <div class="float-left">
        <p>Prof. Keith Levi</p>
        <p>Chairman and Associate Professor of Computer Science</p>
        <p>Maharishi University Of Management</p>
        <p>Work: (641) 470-1363</p>
        <p>Home: (641) 472-4416</p>
        <p>Email: <a href="mailto:klevi@mum.edu" class="plain">klevi@mum.edu</a></p>
    </div>
</div>
<div class="clearfix margin-bottom-md">
    <div class="float-left space-right-xsm">4.</div>
    <div class="float-left">
        <p>Yajurendra Shrestha</p>
        <p>Chief Executive Officer</p>
        <p>SPI Nepal</p>
        <p>Work: +977-1-5551691</p>
        <p>Email: <a href="mailto:yaju@wlinktech.com" class="plain">yaju@wlinktech.com</a></p>
    </div>
</div>