<div class="nav-bar">
	<ul class="nav clearfix">
		<li>{{#link-to 'home'}}A \ About me{{/link-to}}</li>
		<li>{{#link-to 'albums'}}B \ Snapped{{/link-to}}</li>
		<li>{{#link-to 'blog-categories'}}C \ Blog{{/link-to}}</li>
		<li>{{#link-to 'contact'}}D \ Contact{{/link-to}}</li>
	</ul>
	<div class="horizontal-bar"></div>
</div>